body,div,p,ul,li,pre,code{margin:0;padding:0;}
body{overflow:hidden;}
li{list-style:none;}
@media screen and (min-width: 1000px) and (max-width: 9999px)
{
  body{background:transparent url('https://images4.alphacoders.com/628/628927.png') no-repeat scroll 0 0 / 100% auto;}
}
@media screen and (max-width: 999px)
{
  body{background:transparent url('https://images4.alphacoders.com/628/628927.png') no-repeat scroll 80% 0 / auto 100%;}
}
a{text-decoration:none;color:#000}
.clear{clear:both}

@media screen and (min-width: 641px) and (max-width: 9999px)
{
  #header #menu
  {
    display:none;
  }
  #header ul li
  {
    width:auto;
    min-width:70px;
    height:50px;
    float:left;
  }

  .works .c-header,.works .c-body
  {
    margin:30px auto;
    padding:20px;
    width:600px;
    border-radius:10px;
    overflow:hidden;
  }

  .code
  {
    width:600px;
    border-radius:10px;
    font-size:16px;
  }
}
@media screen and (max-width: 640px)
{
  #header #menu
  {
    display:block;
    font-size:30px;
  }
  #header ul
  {
    width:100%;
    height:50px;
    overflow:hidden;
  }
  #header ul li
  {
    width:100%;
    height:50px;
    float:left;
  }

  .works .c-header
  {
    width:100%;
    padding:10px 0 0 10px;
  }
  .works .c-body
  {
    padding:20px 0;
  }

  .code
  {
    width:90%;
    border-radius:5px;
  }
}
#header
{
  position:relative;
  width:100%;
  min-height:50px;
  height:auto;
}
#header .back
{
  position:absolute;
  top:7px;left:5px;
  width:30px;
  height:30px;
  border:2px #FFF solid;
  border-radius:30px;
  display:none;
}
#header .back::before
{
  content:'←';
  text-align:center;
  width:30px;
  height:30px;
  line-height:30px;
  color:#FFF;
  font-size:24px;
  display:block;
}

#header ul li a
{
  height:50px;
  line-height:50px;
  text-align:center;
  color:#FFF;
  display:block;
}

#main
{
  position:relative;
  overflow:hidden;
}
#main div[view-data="0"],#main div[view-data="1"]
{
  position:absolute;
  top:0;left:0;
  width:100%;
  height:100%;
}
.tpl
{
  width:100%;
  height:100%;
}

#footer
{
  position:relative;
  width:100%;
  height:50px;
}
#footer p
{
  color:#FFF;
}

.works
{
  overflow-y:auto;
  overflow-x:hidden;
}
.works .c-header,.works .c-body
{
  position:relative;
}
.works .c-header ul li
{
  color:#FFF;
}
.works img,.works .img
{
  border-radius:5px;
  display:block;
}
.works .text,.works img,.works .img
{
  margin:10px auto;
  width:90%;
}
.works .img_hide
{
  display:none;
}
.works .img_p
{
  min-height:200px;
}
.works .img
{
  position:relative;
  background-color:#CCC;
  height:200px;
  line-height:200px;
}
.works .img::after
{
  content:'';
  position:absolute;
  top:10%;left:5%;
  width:70%;height:20%;
  border-radius:5px;
  background-color:#999;

  animation:colorChange 3s linear 0s infinite alternate;
	/* Firefox: */
	-moz-animation:colorChange 3s linear 0s infinite alternate;
	/* Safari and Chrome: */
	-webkit-animation:colorChange 3s linear 0s infinite alternate;
	/* Opera: */
	-o-animation:colorChange 3s linear 0s infinite alternate;
}
.works .img::before
{
  content:'';
  position:absolute;
  top:35%;left:5%;
  width:80%;height:55%;
  border-radius:5px;
  background-color:#999;

  animation:colorChange 3s linear 0s infinite alternate;
	/* Firefox: */
	-moz-animation:colorChange 3s linear 0s infinite alternate;
	/* Safari and Chrome: */
	-webkit-animation:colorChange 3s linear 0s infinite alternate;
	/* Opera: */
	-o-animation:colorChange 3s linear 0s infinite alternate;
}
.works .img span
{
  position:absolute;
  top:0;left:0;
  width:100%;
  height:100%;
  text-align:center;
  font-size:30px;
  color:#FFF;
}
.works .text,.works .text a
{
  color:#FFF;
}
.works .text a
{
  border-bottom:2px;
  border-bottom-color:#FFF;
  border-bottom-style:solid;
  border-radius:0 0 3px 3px;
}

.bg
{
  position:absolute;
  top:0;left:0;
  width:100%;
  height:100%;
  background-color:#000;
  opacity:0.75;
  z-index:-1;
}

@keyframes colorChange
{
	0%   {background:#CCC;}
	100% {background:#666;}
}

@-moz-keyframes colorChange /* Firefox */
{
	0%   {background:#CCC;}
	100% {background:#666;}
}

@-webkit-keyframes colorChange /* Safari and Chrome */
{
	0%   {background:#CCC;}
	100% {background:#666;}
}

@-o-keyframes colorChange /* Opera */
{
	0%   {background:#CCC;}
	100% {background:#666;}
}

.code
{
  position:relative;
  margin:5px auto;
  padding:1% 3%;
  box-sizing:border-box;
}
.code::before
{
  content:'';
  position:absolute;
  top:0;left:0;
  width:1%;
  height:100%;
  /* background-color:#060; */
  background-color:#CCC;
}
